//colors
$white: #ffff;
$black: #444;

//breakpoints
$breakpoint-xl: 1200px;
$breakpoint-ipad: 1024px;
$breakpoint-lg: 989px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 428px;

////content width
$width: 1170px;